body{
    margin: 0;
    padding: 0;
}
   /*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */


   @font-face {
       font-family: PetcoCircularTT-Regular;
       src: url(Assets/fonts/PetcoCircularTT-Regular.woff2) format("woff2"), url(Assets/fonts/PetcoCircularTT-Regular.woff) format("woff")
   }

   @font-face {
       font-family: PetcoCircularTT-Bold;
       src: url(Assets/fonts/PetcoCircularTT-Bold.woff2) format("woff2"), url(Assets/fonts/PetcoCircularTT-Bold.woff) format("woff")
   }
/* universal */
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
}
h2{
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-size:25px;
    line-height: 32px;
    text-align: center;
}
h3{
    font-family: "PetcoCircularTT-Bold", arial !important;
}
p{
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
#citrusPetIQ_wrapper{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}
/* top banner */
#citrusPetIQ_banner{
    background-color: #7BA4DD;
    width: 100%;
    max-width: 100%;
    min-height: 240px;
}
.citrusPetIQ_Banner--container{
    margin: auto;
    padding: 0 9.8%;
}
/* logo */
.citrusPetIQ_petArmur_logo img{
    width: 115px;
    margin: 15px 0 0 15px;
}
/* top banner row */
.citrusPetIQ_banner--row{
    display: grid;
    grid-template-columns: 63% 37%;
    grid-gap: 0;
}
/* top banner cta */
.citrusPetIQ_banner_cta_container{
    padding: 20px 0;
}
.citrusPetIQ_banner_cta_container button{
    width: 211px;
    height: 56px;
    background: #fff;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-size: 16px;
    border-radius: 5px;
    color: #001952;
    border: none;
    transition: background .8s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.citrusPetIQ_banner_cta_container button:first-child{
    margin-right: 20px;
}
.citrusPetIQ_banner_cta_container button:hover{
    color: #fff;
    background:#001952;
}

/* 3 across model category hero */
.citrusPetIQ_CategoryMenu{
    width: 60%;
    margin: 50px auto;
}
.citrusPetIQ_CategoryMenu__container{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
}
/* card design for category menu */
.citrusPetIQ_categoryMenu__card{
    width: 249px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid #fff;
}
.citrusPetIQ_categoryMenu__card:hover{
    border: 1px solid #ccc;
    border-radius: 8px;
}
.citrusPetIQ__Card--img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.citrusPetIQ__Card--img img{
    max-width: 100%;
}
.citrusPetIQ__card--body__title{
    font-size:18px;
}
.citrusPetIQ__card--body__description{
    color:#000;
    min-height: 80px;
    text-align: center;
}
.citrusPetIQ__card--body__button{
    background: none;
    border: none;
    color: #001952;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
}
/* shop life style */
.citrusPetIQ_shopLifeStyle__row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.citrusPetIQ_shopLifeStyle__img img{
    max-width: 100%;
    cursor: pointer;
}

/* Product container */
.citrusPetIQ_shopProduct__menu{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #021b4e;
}
.citrusPetIQ_shopProduct__menu__tabNav{
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin-bottom: 0;
}
.citrusPetIQ_shopProduct__menu__tabNav li{
    font-family: "PetcoCircularTT-Bold", arial !important;
    border-bottom: 8px solid #021b4e00;
    /* margin:0 40px; */
}
/* product shot list */
.citrusPetIQ__shopProduct__row{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    overflow-x: auto;
}
.citrusPetIQ_shopProduct__card__img{
    width: 164px;
    margin: 0 auto;
    height:158px;
}
.citrusPetIQ_shopProduct__card__img img{
    margin: auto;
    max-width: 164px;
    height:158px;
    object-fit: contain;
}
.citrusPetIQ_shopProduct__card__body{
    margin-top: 34px;
}
p.citrusPetIQ_shopProduct__card_title{
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-size: 13px;
}
/* shop all cta */
.citrusPetIQ__shopAll{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:45px;
}
.citrusPetIQ__shopAll>button{
    background: #001952;
    border: 1px solid #001952;
    border-radius: 5px;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 22px 21px 18px 22px;
    transition: background 1s;
}
.citrusPetIQ__shopAll>button:hover{
    background: #fff;
    color: #001952;
}
/* disclaimer */
.citrusPetIQ__disclaimer{
    width: 648px;
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
    font-size:12px;
}

/* defense */
.citrusPetIQ__defense{
    background: #f8f8f8;
    padding: 38px;
}
.citrusPetIQ_defense__Container,.citrusPetIQ_protect__Container{
    width: 80%;
    margin: auto;
}
.citrusPetIQ__defense_row,.citrusPetIQ__protect_row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.citrusPetIQ__defense__card{
    text-align: center;
    background: #F4F7FF;
    /* width: 537px; */
    max-width: 100%;
    padding-bottom: 21px;
}
.citrusPetIQ__defense__card_img img{
    max-width: 100%;
}
.citrusPetIQ__defense__card_body{
    width: 80%;
    margin: auto;
}
.citrusPetIQ__defense__card__title,.citrusPetIQ__protect__text__title{
    margin-top: 37px;
    font-size: 20px;
}

/* protect */
.citrusPetIQ__protect{
    background: #F4F7FF;
    margin: 68px auto;
    min-height: 225px;
}
.citrusPetIQ__protect__col{
    display: flex;
    align-items: center;
}
.citrusPetIQ__protect__imgBox{
    height: 225px;
    display: flex;
    align-items: center;
}
.citrusPetIQ__protect__text_body{
    text-align: center;
    width: 80%;
    margin: auto;
}


/* ****************************** */
/* Responsive styling */
/* ****************************** */

@media all and (min-width: 992px) and (max-width: 1301px) {
    h1 {
        margin-top: 10px;
    }
    .citrusPetIQ_Banner--container {
            margin: auto;
            padding: 0px 5%;
        }
    .citrusPetIQ_banner--row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
    img.citrusPetIQ_banner_img {
            max-width: 100%;
            display: flex;
            justify-content: center;
        }
    .citrusPetIQ_banner_cta_container button {
        width: 180px;
        height: 50px;
    }
    .citrusPetIQ_CategoryMenu,.citrusPetIQ_defense__Container,
    .citrusPetIQ_protect__Container {
        width: 90%;
    }
    .citrusPetIQ__protect_row {
        grid-template-columns: 50% 50%;
    }
    /* defense */
    .citrusPetIQ__defense__card_img,.citrusPetIQ__defense__card_img iframe{
        min-height: 247px;
    }
}
@media all and (min-width: 1180px) {

    .citrusPetIQ__defense__card_img,
    .citrusPetIQ__defense__card_img iframe {
        min-height: 310px;
    }
}
@media all and (min-width: 768px) and (max-width: 991px){
    h1 {
        font-size: 24px;
        margin-top: 10px;
        line-height:24px;
        }
    
        .citrusPetIQ_Banner--container {
            margin: auto;
            padding: 0px 5%;
        }
    
        .citrusPetIQ_banner--row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0;
        }
    
        img.citrusPetIQ_banner_img {
            max-width: 100%;
            display: flex;
            justify-content: center;
        }
    
        .citrusPetIQ_banner_cta_container button {
            width: 140px;
            height: 40px;
            font-size:14px;
        }
    
        .citrusPetIQ_CategoryMenu,
        .citrusPetIQ_defense__Container,
        .citrusPetIQ_protect__Container {
            width: 90%;
        }
    
        .citrusPetIQ__protect_row {
            grid-template-columns: 50% 50%;
        }
        
    /* defense */
    .citrusPetIQ__defense__card_img,.citrusPetIQ__defense__card_img iframe{
        min-height: 210px;
    }
    .citrusPetIQ__protect__imgBox img{
        max-width: 100%;
    }
}
@media all and (max-width: 768px){
    h1 {
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 0;
        }
    .citrusPetIQ_banner--row,.citrusPetIQ__protect_row,.citrusPetIQ__defense_row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    /* logo */
    .citrusPetIQ_petArmur_logo{
        display: flex;
        justify-content: center;
    }
    .citrusPetIQ_petArmur_logo img{
        width: 164px;
         object-fit: contain;
    }
    .citrusPetIQ_banner_order1{
        order: 2;
    }
    .citrusPetIQ_banner_order2{
        order: 1;
        display: flex;
        justify-content: center;
    }
    .citrusPetIQ_banner-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    /* hero cta  banner*/
    .citrusPetIQ_banner_title{
        text-align: center;
    }
    .citrusPetIQ_Banner_sub-title{
        padding: 0 0;
        text-align: center;
    }
    .citrusPetIQ_banner_cta_container {
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }

    .citrusPetIQ_banner_cta_container button {
        width: 120px;
        height: 16px;
        background: rgba(255, 255, 255, 0);
        text-transform: capitalize;
        font-weight: bold;
        text-decoration: underline;
    }

    .citrusPetIQ_banner_cta_container button:first-child {
        margin-right: 10px;
    }
    .citrusPetIQ_banner_cta_container button:hover{
        color: #001952;
        background:#00195200;
    }
    /* banner img */
    .citrusPetIQ_banner_img{
        margin-top: 40px;
        max-width: 100%;
    }
    .citrusPetIQ__protect__imgBox{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .citrusPetIQ__protect__imgBox img{
        max-width: 100%;
    }
    /* category */
    .citrusPetIQ_CategoryMenu{
        width: 100%;
        overflow-x: auto;
    }
    .citrusPetIQ_CategoryMenu__container{
        display: flex;
        width: 200%;
        overflow-x: auto;
    }
    /* life style shot */
    section.citrusIQ_shopLifeStyle {
        width: 90%;
        margin: auto;
    }
    /* shop all cta */
    .citrusPetIQ__shopAll>button {
    background: #00195200;
    border: none;
    font-weight: bold;
    color: #001952;
    text-transform: capitalize;
    text-decoration: underline;
}
    /* defense */
    .citrusPetIQ_defense__Container,
    .citrusPetIQ_protect__Container {
        width: 100%;
        margin: auto;
    }
    .citrusPetIQ__protect_row{
        display: flex;
        flex-direction: column;
    }
}
